<header>
  <div class='container'>
    <h1 class='site-title'>{{ site.title | default: site.github.repository_name }}</h1>
    <nav class='site-nav'>
      <ul>
        <li><a href='{{ '/' | relative_url }}'>Home</a></li>
        <li><a href='{{ '/services/' | relative_url }}'>Services</a></li>
        <li><a href='{{ '/products/' | relative_url }}'>Products</a></li>
        <li><a href='{{ '/about/' | relative_url }}'>About Us</a></li>
        <li><a href='{{ '/contact/' | relative_url }}'>Contact</a></li>
      </ul>
    </nav>
  </div>
</header>
