@import 'colors';

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes slideIn {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(0); }
}

@keyframes blinkCursor {
  0%, 100% { border-right-color: transparent; }
  50% { border-right-color: -primary; }
}

.fade-in {
  animation: fadeIn 1.5s ease-in-out;
}

.slide-in {
  animation: slideIn 1s ease-out;
}

.blinking-cursor {
  border-right: 2px solid -primary;
  animation: blinkCursor 0.75s step-end infinite;
}
